extends ./layout/index
block contenido
   main.container.mt-5
      .row
         .col-md-5
            img(src="img/nosotros.jpg", alt="Imagen de Nosotros", class="img-fluid")
         .col-md-7   
            h1 #{pagina}
            blockquote Pellentesque arcu metus, euismod et tincidunt sit amet, interdum vel felis. Quisque molestie eget lectus non bibendum. Fusce ut dignissim massa. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Aliquam suscipit sollicitudin efficitur. Sed aliquet interdum nisl a bibendum. Nullam vitae enim eget nulla interdum feugiat ac vel augue.
            p Fusce scelerisque nunc quis augue rutrum, non aliquet ipsum posuere. Praesent sed nunc ac purus elementum porttitor et at mauris. Curabitur fringilla ultricies justo, sed mollis nulla dictum sit amet. Sed dolor sapien, aliquet sed venenatis id, eleifend at tellus.
            p Nullam ut ante efficitur, egestas ex tempus, aliquam eros. Curabitur aliquam, ligula et dapibus vulputate, tellus ipsum ornare urna, non suscipit magna dolor a libero.
      
   .listado-iconos
      .container.mt-5.py-5.text-center
        .row
          .col-md-4
            img(src="img/icono_seguridad.svg", class="img-fluid mb-4")
            h2.mb-4 Seguridad
            p Etiam nec condimentum sem, non varius felis. Fusce id mollis eros. 
          .col-md-4
            img(src="img/icono_destinos.svg", class="img-fluid mb-4")
            h2.mb-4 Mejores Destinos
            p Etiam nec condimentum sem, non varius felis. Fusce id mollis eros. 
          .col-md-4
            img(src="img/icono_precios.svg", class="img-fluid mb-4")
            h2.mb-4 Mejor Precio
            p Etiam nec condimentum sem, non varius felis. Fusce id mollis eros. 
             
             
      
      
